@charset "utf-8";
/*
Design by liuwz 2014.9.30
CSS rest */
body {
	font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;
	display:block;
	height:100%;
	font-size:14px;
	overflow-x: hidden;
	color: #752e5c;
	background:#ece7e7
}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}/*去掉Iphone的按钮默认样式*/
input, textarea, select {
	font-size:14px;
	font-size:100%;
	font-family:arial;
	font-family:inherit;
}
figure, form, fieldset {
	border:0;
	margin:0;
	padding:0
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, form, dl, dt, dd {
	margin:0;
	color: #752e5c;
}
a, button, input {/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}
h1 {
}
h4, h5, h6 {
	font-size:1em;
}
ul, ol {
	padding-left:0;
	list-style-type:none;
}
/*image with no-border*/
a img {
	border:0;
}
img {
	border:0;
}
input.radius {
	padding-left: .6em;
	padding-right: .6em;
}
input, select, textarea, h4, h5 {
	font-size: 100%;
	box-sizing: border-box;
}
textarea {
}
a {
	color: #2C2C2C;
	text-decoration: none;
}
a:active {
}
a:visited {
}
p {
}
.fl {
	float:left
}
.error {
	color: rgb(230, 84, 1);
	font-size: 12px;
}
/*轮显图片*/
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > figure {
	float: left;
	width: 100%;
	position: relative;
}
#slider {
	max-height: 350px;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
#slider figure {
	display: block;
}
#slider figure div.wrap {
	max-width: 960px;
	height: 350px;
	display: block;
	position: relative;
}
#slider figure div.image {
	display: block;
	height: inherit;
}
.topImg nav {
	position: relative;
	max-width: 680px;
	margin: 7px auto 0;
}
.topImg nav #position {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.topImg nav #position li {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #141414;
	margin: 0 2px;
	cursor: pointer;
}
.topImg nav #position li.on {
	background-color:#F00;
}
.topImg article {
	text-align:center;
	padding-bottom:60px
}
.nav {
	color:#999;
	float:left;
	margin-left: -66px;
}
.nav ul {
	position: relative;
	z-index: 1;
}
.nav ul li {
	background: #FFF;
	border-bottom: 1px #ccc solid;
	border-right: 1px #ccc solid;
}
.nav ul li a {
	width: 65px;
	height: 41px;
	display: block;
	text-align: center;
	line-height: 45px;
	padding-bottom: 21px;
	position: relative;
	color:#6d0911
}
.nav .bac {
	background:#333;
	border:none;
}
.nav .bac a {
	color:#fff;
	padding-bottom: 0;
	height: 45px;
	line-height: 45px;
}
.nav .bac a:hover {
	background:#333
}
.nav ul li a:hover {
	/*background:#FFF4E6*/
	background:#FFF4E6
}
.select {
	position:relative;
	overflow:hidden;/* display:inline; */
}
.select:before {
	content: "";
	width: 0;
	height: 0px;
	border-width: 5px;
	border-style: solid;
	border-color: #666 #F1F1F1 #F1F1F1 #F1F1F1;
	z-index: 9999;
	display: block;
	position: absolute;
	right: 9px;
	top: 16px;
}
.lb {
	margin-bottom:15px;
}
.lb select {
	border-radius: 3px;
	padding: 5px 20px 5px 5px;
	background: #F1F1F1;
	font-size: 13px;
	border: 1px #ABADB3 solid;
	-webkit-appearance: none;
	position: relative;
	width: 100%;
}
.selBtn {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 62px;
	height: 62px;
	right: 0;
	bottom: 0;
}
.selBtn.sel:before {
	border-color: transparent transparent #b491a8 transparent;
}
.selBtn:before {
	content: "";
	border-color: transparent transparent #ccc transparent;
	border-width: 62px;
	border-style: solid;
	z-index: 1;
	position: absolute;
	bottom: 0px;
	right: -62px;
}
.selBtn:after {
	content: "选择";
	position: absolute;
	z-index: 2;
	color: #FFF;
	bottom: 8px;
	right: 5px;
	font-size: 14px;
}
.selBtn.sel:after {
	content: "已选";
}
header nav {
	text-align: center;
	display: none;
	padding-top: 10px;
}
header nav a {
	display:inline-block;
	margin: 2px;
	padding: 5px;
	border-radius: 5px;
	border: 1px #ccc solid;
	color: #b491a8;
}
header nav a span {
}
.bacBtn {
	position: absolute;
	height: 100%;
	background: #333;
	width: 66px;
	cursor:pointer;
	border-right: 1px #ccc solid;
	top: 0;
	z-index: 0;
}
.content {
	background-color: #ece7e7;
	overflow: hidden;
	min-height:500px;
	position: relative;
}
#main {
	background-color: #ece7e7;
	position: absolute;
	width: 100%;
}
#menu {
	position: absolute;
	display: block;
	height: 38px;
	line-height: 48px;
}
#menu:after {
	content:"菜单";
	color:#6d0911;
	vertical-align:top;
	margin-left:5px;
}
.bline {
	border-bottom: 1px #ccc solid;
}
.line {
	border-bottom: 1px #ccc solid;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#cai {
	position: absolute;
	right:10px;
	color: #b897ad;
	font-weight: normal;
	background: #fff;
	padding: 4px 8px;
	box-sizing: border-box;
	border-radius: 5px;
	top:50%;
	margin-top:-15px;
}
#cai:before {
/* font-style:normal; */
	/* font-family:"iconfont" !important; content: "+";*/
	
	/* font-size: 28px; */
	/* color: #fff; */
	/* font-weight: normal; margin-right: 4px;*/
	
}
#cai.sel {
}
.title {
	text-align: center;
	height: 40px;
	line-height: 50px;
	padding-left: 40px;
	margin-bottom: 10px;
}
.title2 {
	font-size: 15px;
	padding: 0 0 4px 0;
	/* text-decoration: underline; */
	color: #62050d;
}
.tx {
	display: block;
}
.txtLong, .txtShort {
	padding: 5px;
	border: 1PX #C7C7C7 solid;
	color: #fff;
	vertical-align: middle;
	background: #ece7e7;
	box-shadow: 1px 1px 1px #e0dbdb inset;
	-moz-box-shadow: 1px 1px 1px #e0dbdb inset;
	-webkit-box-shadow: 1px 1px 1px #e0dbdb inset;
	-o-box-shadow: 1px 1px 1px #e0dbdb inset;
	color: #8d6c93;
}
.txtLong {
	width: 100%;
}
.txtShort {
	width: 70%;
}
/* colors */
.cb {
	color: #000;
}
.cg {
	color: #999;
}
.cgr {
	color: #e60000!important;
}
.cr {
	color: #E60000!important;
}
.cbl {
	color: #09F
}
.cy {
	color: #FF9900
}
.cyl {
	color: #FF0
}
.wh {
	color: #fff;
}
.abs {
	position: absolute;
}
.rel {
	position: relative;
}
.l0 {
	left:0
}
.tc {
	text-align: center!important;
	color: #752e5c;
}
.tdlt {
	text-decoration:line-through;
}
.ovh {
	overflow: hidden;
}
.all {
	width:100%;
	height:100%
}
.mask {
	background-color: #999;
	opacity: 0.3;
	position: absolute;
	z-index: 0;
}
.bgc {
	background:#E7E7E7
}
.no {
	border-right: 0;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	padding: 0;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/* ico achieved by font */
@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot'); /* IE9*/
	src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont.woff') format('woff'), /* chrome、firefox */ url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	color: black;
}
.icon-ct {
	display: inline-block;
	height: 24px;
	width: 32px;
	border-radius:5px;
	vertical-align:middle;
	overflow:hidden
}
#menu:before {
	font-style:normal;
	font-family:"iconfont" !important;
	content: "\e607";
	font-size: 28px;
	color: #6d0911;
}
.bac a:before {
	font-style:normal;
	font-family:"iconfont" !important;
	content: "\e602";
	font-size: 28px;
	color: #fff;
}
.back {
	display:block;
	font-size: 15px;
	color: #6d0911;
}
.back:before {
	font-style:normal;
	font-family:"iconfont" !important;
	content: "\e608";
	font-size: 20px;
	color: #6d0911;
	margin-right: 5px;
}
.nav1, .nav2, .nav3, .nav4, .nav5, .nav6, .nav7, .nav8, .zan {
	font-style:normal;
	font-family:"iconfont" !important;
	font-size: 27px;
	color: #000;
}
.Vnav1, .Vnav2, .Vnav3, .Vnav4, .Vnav5, .Vnav6 {
	font-style:normal;
	font-family:"iconfont" !important;
	font-size: 28px;
	color: #6d0911;
	display:block
}
.Vnav1:before {
	content: "\e604";
	color: #b897ad;
}
.Vnav2:before {
	content: "\e612";
	color: #b897ad;
}
.Vnav3:before {
	content: "\e610";
	color: #b897ad;
}
.Vnav4:before {
	content: "\e611";
	color: #b897ad;
}
.Vnav5:before {
	content: "\e60d";
	color: #b897ad;
}
.Vnav6:before {
	content: "\e60f";
	color: #b897ad;
}
.nav1:before {
	content: "\e606";
	color:#b897ad
}
.nav2:before {
	content: "\e604";
	color:#b897ad
}
.nav3:before {
	content: "\e60c";
	color:#b897ad
}
.nav4:before {
	content: "\e603";
	color:#b897ad
}
.nav5:before {
	content: "\e60b";
	color:#b897ad
}
.nav6:before {
	content: "\e60a";
	color:#b897ad
}
.nav7:before {
	content: "\e601";
	color:#b897ad
}
.nav8:before {
	content: "\e605";
	color:#b897ad
}
.zan {
}
.zan:before {
	content: "\e60e";
}
.nav1 span, .nav2 span, .nav3 span, .nav4 span, .nav5 span, .nav6 span, .nav7 span, .nav8 span {
	font-size: 12px;
	display: block;
	font-family: arial;
	position: absolute;
	bottom: 0;
	color:#752e5c;
	line-height: 32px;
	width: 100%;
}
.nav8 {
	padding-bottom: 0!important;
	height: 48px!important;
	line-height: 48px!important;
}
.icon-ct img {
	height: 24px;
	width: 32px;
}
/* buttons */
.lbtn {
	padding: 0.2em 1em !important;
}
.btn {
	display: inline-block;
	margin:0;
	padding: 0.5em 3em;
	text-align: center;
	cursor: pointer;
	overflow: visible;
	background: #a57a96;
	/* CSS3 Styling */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	/* Text Styling */
	color:#fff;
	border: none;
	text-shadow:0px 0px 2px rgba(0, 0, 0, 0.75);
}
.btn:active, .btn:hover {
	background: #b491a8;
text-shadow:text-shadow: 0px 0px 2px black;
}
.btn:active, .btn.active {
	color:#333
}
.graybtn {
	display: inline-block;
	padding: 0.36em 1em;
	text-align: center;
	cursor: pointer;
	overflow: visible;
	/* CSS3 Styling */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	/* Text Styling */
	color: rgb(185, 185, 185);
	text-shadow: 0px 0px 2px rgba(255, 253, 253, 0.75);
	background: rgb(233, 233, 233);
	border: 1px solid #B1B1B1;
}
.grayBac {
	/* background:#D8D8D8
 */
	border-bottom: 1px #ccc solid;
	color: #8B8B8B;
}
.greenBac {
	background:#62C49F
}
.yellowBac {
	background:#F0D397
}
.block .btn {
	display: block;
}
.tab1 {
	width: 100%;
	border-collapse: collapse;
	border-top: 2px #ccc solid;
}
.tab1 th {
	border: 1px #E9E9E9 solid;
	padding: 5px;
	vertical-align: middle;
	background: #b491a8;
	color: #fff;
}
.tab1 td {
	border: 1px #E9E9E9 solid;
	text-align: center;
	padding: 5px;
	vertical-align: middle;
}
.jindu {
	background: #FFFFFF;
	border: 1px solid #9B9B9B;
	color: white!important;
	text-align: center;
	box-sizing: border-box;
	height: 10px;
	position: relative;
	line-height: 19px;
	font-size: 12px;
	border-radius: 5px;
	overflow:hidden
}
.jindu2 {
	height: 8px;
	position: absolute;
	background: #EE2600;
	border-right: 1px #71E2FF solid;
	border-radius: 4px;
}
/* radius */
.radius {
	border: 1px solid #ababab;
	border-radius: .5em;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	-o-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
}
.radius50 {
	border-radius:50%;
}
/* square */
.square {
	background-color: #F3F3F3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	-o-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
}
.M-left:before, .M-left2:before {
	font-family: "iconfont" !important;
	content: "\e601";
}
.iconRen {
	display:block;
	font-style:inherit;
	text-align:center;
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif
}
.iconRen:before {
	font-family: "iconfont" !important;
	content: "\e606";
}
.M-left img, .M-left2 img {
	margin-top:5px;
}
/* ---------------------single CSS----------------------- */
/* display */
.dn {
	display:none;
}
.di {
	display:inline;
}
.db {
	display:block!important;
}
.box {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	width:100%
}
.abtn {
	padding: 2px 5px;
	border:none;
	border-radius:5px;
	color: #b491a8;
}
.bBox, .cBox {
	padding:10px;
	margin-bottom:10px;
}
.cBox {
	border: 1px #E0E0E0 solid;
	background-color: #f8f7f7;
	box-shadow: 1px 1px 2px #9c9999;
	-moz-box-shadow: 1px 1px 2px #9c9999;
	-webkit-box-shadow: 1px 1px 1px #9c9999;
	-o-box-shadow: 1px 1px 1px #9c9999;
}
.bBox {
	border: 2px dashed #bea0b2;
	display: table-cell;
	vertical-align: middle;
	width: 960px;
	box-sizing: border-box;
	height: 80px;
	background: #efefef;
}
.flex1 {
	-webkit-box-flex: 1.0;
	-moz-box-flex: 1.0;
	-o-box-flex: 1.0;
	box-flex: 1.0;
	overflow:hidden
}
.flex5 {
	-webkit-box-flex: 5.0;
	-moz-box-flex: 5.0;
	-o-box-flex: 5.0;
	box-flex: 5.0
}
.dib {
	display:inline-block;
} /* if the element is block level(eg. div, li), using 'inline_any' instead */
/* height */
.h5 {
	height: 3px;
}
.h24 {
	height:24px;
}
.h38 {
	height: 44px;
}
.h33 {
	height: 26px;
}
.h30 {
	height:30px;
}
.h60 {
	height:60px;
}
.h80 {
	height:80px;
}
/* width */
/* fixed width value */
.w120 {
	width:120px;
}
.w122 {
	width:142px;
}
.w60 {
	width:70px;
}
/* percent width value */
.pct100 {
	width:100%;
	box-sizing: border-box;
}
.pct10 {
	width:10%;
}
.pct20 {
	width:20%;
}
.pct30 {
	width:30%;
}
.pct40 {
	width:40%;
}
.pct50 {
	width:50%;
}
.pct60 {
	width:60%;
}
.pct70 {
	width:70%;
}
.pct80 {
	width:80%;
}
.pct90 {
	width:90%;
}
.pct1 {
	width:1%;
}
.fa {
	font-family:Arial;
}
.fh1, .fh2, .fh3, .fh4 {
	background:url(images/fh.gif) no-repeat;
	display:inline-block;
	width:42px;
	height:42px;
}
.fh1 {
	background-position:0 0;
}
.fh4 {
	background-position:0 -42px;
}
.fh3 {
	background-position:0 -84px;
}
.fh2 {
	background-position:0 -126px;
}
/* line-height */
.lh38 {
	line-height:38px!important;
}
.lh30 {
	line-height:30px;
}
.lh25 {
	line-height:25px;
}
/* padding */
.p2 {
	padding:2px;
}
.p5 {
	padding:5px;
}
.pt5 {
	padding-top:5px;
}
.pb5 {
	padding-bottom:5px;
}
.pb10 {
	padding-bottom:10px;
}
.pb15 {
	padding-bottom:15px;
}
.pb20 {
	padding-bottom:20px;
}
.p10 {
	padding:10px;
}
.p0 {
	padding:0!important
}
.pl10 {
	padding-left:10px;
}
.pl30 {
	padding-left:30px;
}
.pr10 {
	padding-right:10px;
}
.mt10 {
	margin-top:10px;
}
.mb10 {
	margin-bottom: 15px;
}
.mb0 {
	margin-bottom:0!important;
}
.mb4 {
	margin-bottom:4px;
}
.mr2 {
	margin-right:2px;
}
.mr5 {
	margin-right:5px;
}
.ml2 {
	margin-left:2px;
}
.ml10 {
	margin-left:10px;
}
.Logo {
	font-style: normal;
	font-family: "iconfont" !important;
	font-size: 27px;
	color: #6d0911;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -24px;
	width: 300px;
	line-height: 14px;
}
.Logo:before {
	content: "\e606";
	display: inline-block;
	position: absolute;
	line-height: 48px;
	left: -35px;
	top: -12px;
	color: #a57a96;
}
.Vshop {
}
.Vshop a {
	display: table-cell;
	font-size: 14px;
	text-align: center;
	border: 1px #EEE solid;
	height: 130px;
	vertical-align: middle;
	width: 300px;
	background-color: #f8f7f7;
	box-shadow: 1px 1px 2px #9c9999;
	-moz-box-shadow: 1px 1px 2px #9c9999;
	-webkit-box-shadow: 1px 1px 1px #9c9999;
	-o-box-shadow: 1px 1px 1px #9c9999;
}
/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */
.bgwh {
	background-color:#fff;
}
.bgl {
	background-color:#EEE;
}
.bgr {
	background-color:#E60000!important;
}
.y1 {
	opacity:0.3
}
.y2 {
	opacity:0.5
}
.y3 {
	opacity:0.8
}
.y1, .y2, .y3 {
	background-color:#fff
}
.y1:before, .y2:before, .y3:before {
	background-color:#C6224A;
	content:"";
	position:absolute;
	top:0;
	left:0;
}
.y1:after, .y2:after, .y3:after {
	background-color:#000;
	content:"";
	position:absolute;
	top:0;
	left:0;
}
/* font-size */
.f0 {
	font-size:0;
}
.f10 {
	font-size:10px;
}
.f12 {
	font-size:12px;
	color:#a57a96
}
.f13 {
	font-size:13px;
}
.f14 {
	font-size:14px;
}
.f16 {
	font-size:16px!important;
	color:#a57a96
}
.f18 {
	font-size:18px!important;
}
.f20 {
	font-size:20px;
}
.f24 {
	font-size:24px;
}
.f40 {
	font-size:35px;
}
/* font-style */
.b {
	font-weight:bold;
}
.nb {
	font-weight:normal;
}
.t0 {
	top:0
}
.t10 {
	top:10px
}
.r20 {
	right:20px
}
/* text-align */
.tr {
	text-align:right;
}
.tl {
	text-align:left;
}
.tj {
	text-align:justify;
}
/* text-decoration */
.tdl {
	text-decoration:underline;
}
.tdn, .tdn:hover, .tdn a:hover, a.tdl:hover {
	text-decoration:none;
}
/* white-space */
.nowrap {
	white-space:nowrap;
}
/* word-wrap */
.bk {
	word-wrap:break-word;
}
/* vertical-align */
.vm {
	vertical-align:middle;
}
.vb {
	vertical-align:bottom;
}
/* float */
.l {
	float:left;
}
.r {
	float:right;
}
/* clear */
.cl {
	clear:both;
}
/* cursor */
.poi {
	cursor: pointer;
}
/* overflow */
.ovh {
	overflow:hidden;
}
.ova {
	overflow:auto;
}
/* visibility */
.vh {
	visibility:hidden;
}
.vv {
	visibility:visible;
}
/* zoom */

.z {
*zoom:1;
}
/* ------------------- multiply CSS ------------------ */
/* 块状元素水平居中 */
.auto {
	margin-left:auto;
	margin-right:auto;
}
/* 清除浮 动*/
.fix {
*zoom:1;
}
.fix:after {
	display:table;
	content:'';
	clear:both;
}
/* 双栏自适应cell部分连续英文字符换行 */
.cell_bk {
	display:table;
	width:100%;
	table-layout:fixed;
	word-wrap:break-word;
}
/* 单行文字溢出虚点显 示*/
.ell {
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
/* css3过渡动画效果 */
.trans {
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
}
/* 加载中*/
.loading:before {
	content:"";
	background: url(images/busy_anim.gif) no-repeat center center;
	background-size: 21px;
	height: 30px;
	width:30px;
	position:absolute;
	left:0
}
.loading {
	position:relative;
	line-height: 30px;
	text-indent:30px;
	display:inline-block
}
/* 无框文本框文本域 */
.bd_none {
	border:0;
	outline:none;
}
/* 点点框 */
.bd_x {
	border-bottom:1px #C6224A dotted!important;
	border-top:1px #C6224A dotted!important;
	border-left:1px #C6224A dotted!important;
	border-right:1px #C6224A dotted!important;
	background:#FFD7D7;
	font-weight:bold
}
.bd1 {
	border-top: 1px #Ccc solid;
}
.bd2 {
	/* border: 1px #E0E0E0 solid; */
	box-sizing: border-box;
	position:relative;
	background-color: #f8f7f7;
	box-shadow: 1px 1px 2px #9c9999;
	-moz-box-shadow: 1px 1px 2px #9c9999;
	-webkit-box-shadow: 1px 1px 1px #9c9999;
	-o-box-shadow: 1px 1px 1px #9c9999;
}
/* 按钮禁用 */
.disabled {
	color:#acacac!important;
	border-color:#acacac!important;
	text-shadow:1px 1px #fff!important;
	outline:0!important;
	cursor:default!important;
	pointer-events:none;
}
.disabled:hover {
	text-decoration:none!important;
}
/*inline-block与float等宽列表*/
.inline_box {
	font-size: 0;
	/*letter-spacing:-4px;*/
  word-spacing: -4px;
}
.inline_two, .inline_three, .inline_four, .inline_five, .inline_six, .inline_any {
	display:inline-block;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align:top;

/*float:left*/
*display:inline;
*zoom:1;
}
.float_two, .float_three, .float_four, .float_five, .float_six {
	float:left;
}
.inline_two, .float_two {
	width:50%;
}
.inline_three, .float_three {
	width: 33.3333%;
}
.inline_four, .float_four {
	width: 25%;
}
.inline_five, .float_five {
	width:20%;
}
.inline_fix {
	display:inline-block;
	width:100%;
	height:0;
	overflow:hidden;
}
.pro2 {
}
.pro2 .probox {
	border-top: 2px #DBDBDB dotted;
	border-bottom: 2px #DBDBDB dotted;
	margin-bottom: 15px;
	padding:10px;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.pro2 .probox:first-child {
	border-top:0;
}
.pro2 .pct40 img {
	width:100%;
	max-width:130px;
}
.proImg {
	height: 130px;
	width: 130px;
	overflow: hidden;
	padding: 5px;
	text-align: center;
	border: 1px #CCC solid;
	background: white;
	line-height: 130px;
}
.proImg img {
	height:120px;
	max-width: 120px;
	vertical-align:middle
}
.pro {
	font-size:14px;
	background: #F5F5F5;
}
.pro h2 {
	font-size: 14px;
	padding: 0 10px;
	height: 60px;
	overflow: hidden;
}
.pro h2 span {
	margin-left:5px;
	color:#9f1f29
}
.pro .price {
	font-size:20px;
	text-align:center;
	padding: 5px;
}
.proL {
	border-radius: 5px;
	overflow: hidden;
	font-size: 0;
}
.proR {
	padding:0 10px 10px;
}
.proR h2 {
	padding:0;
	margin-bottom: 10px;
	height:auto
}
.proR .price {
	text-align:left;
	padding: 0;
}
.proR .footer {
/*position:absolute;
	bottom:10px;*/
}
.add, .min {
	position: relative;
	border: 1px #ccc solid;
	text-align: center;
	width: 20px;
	height: 20px;
	display: inline-block;
	font-style: normal;
	cursor: pointer;
	background: #f8f8f8;
	font-family: verdana;
	font-weight: bold;
	font-size: 17px;
	color: #999;
	top: 1px;
}
.add:before {
	line-height: 20px;
	content:"+"
}
.min:before {
	line-height: 20px;
	content:"-"
}
footer {
	text-align: center;
	font-size: 14px;
	padding: 5px;
}
#scrollUp {
	right: 10px;
	bottom: 10px;
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
}
#scrollUp:before {
	font-style: normal;
	font-family: "iconfont" !important;
	content: "\e613";
	font-size: 28px;
	color: #FFFFFF;
	position: relative;
	top: 5px;
}
/* ------------------- multiply CSS End------------------ */

@media only screen and (min-width: 768px) and (max-width:959px) {
#slider figure div.wrap {
	height:350px
}
.proL {
	width:200px;
}
}
@media only screen and (min-width: 481px) and (max-width:640px) {
#slider figure div.wrap {
	height:172px
}
.proL {
	width:200px;
}
}
@media screen and (min-width: 321px) and (max-width: 480px) {
#slider figure div.wrap {
	height: 153px;
}
.proL {
	width:120px;
}
.proR .footer {
	bottom:0px;
	margin-bottom:10px;
}
}
@media screen and (max-width: 320px) {
#slider figure div.wrap {
	height: 153px;
}
.proL {
	float:none
}
.proR .footer {
	position:relative;
	bottom:0px;
	margin-top:10px;
}
}
/*在这里写小屏幕设备的样式*/
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-Webkit-min-device-pixel-ratio: 1), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
.inline_box {
 letter-spacing:normal;
/*word-spacing: normal;*/

}
}
 @media (device-height:480px) and (-webkit-min-device-pixel-ratio:2) {/* 兼容iphone4/4s */
.inline_box {
	letter-spacing:normal;/*word-spacing: normal;*/
}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2) {/* 兼容iphone5 */
.inline_box {
	letter-spacing:normal;/*word-spacing: normal;*/
}
}
@media all and (-webkit-transform-3d) {
a, button, input {/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */
	-webkit-tap-highlight-color: rgba(0,0,0,0.2);
}
}
